::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(220, 230, 235);
    border-radius: 10px;
}

._main2 {
    position: relative;
    background: url('../img/background_1.webp');
    background-repeat: repeat;
    color: rgb(220, 230, 235);
    cursor: auto;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

.comments-title {
    color: rgb(220, 230, 235);
    margin: 0;
    font-size: 3vw;
    font-weight: 900;
}

.comments-container {
    max-height: 82.7vh;
    overflow-y: auto;
    padding: 10px;
    flex: 1;
}

.comment {
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(14, 18, 20);
    margin-right: 1vw;
    word-wrap: break-word;
    box-shadow: 0 0 10px black;
}

.comments-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment strong {
    margin-right: 5px;
    display: inline-block;
    font-size: 1.4em;
}

.comment-text {
    margin-top: 1.85vw;
    font-size: 1vw;
}

.add-comment {
    color: rgb(220, 230, 235);
    margin-left: 1vw;
}

.add-comment__button {
    position: relative;
    text-decoration: none;
    background: darkcyan;
    color: rgb(220, 230, 235);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    bottom: 1vh;
    right: 0.5vw;
    width: 30px;
    height: 30px;
}

.comment-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#id_comment_text {
    background-color: rgb(30, 35, 38);
    color: rgb(220, 230, 235);
    border: none;
    font-size: 1.5em;
    word-wrap: break-word;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    width: 100%;
    height: 2.3em;

}

.form-comment {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.comment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.comment-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-form textarea {
    resize: none;
}