/* Общие стили */
body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

button {
    transition: transform 0.1s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    color: darkcyan;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    color: rgb(220, 230, 235);
}

.changeusername {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 27, 29);
    padding: 20px;
    z-index: 10000;
    border-radius: 5px;
}

#newUsername {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#saveUsername {
    background: darkcyan;
    color: rgb(220, 230, 235);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#closechange {
    background: darkcyan;
    color: rgb(220, 230, 235);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* Стили для модального окна */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 27, 29);
    padding: 20px;
    border-radius: 5px;
    color: rgb(220, 230, 235);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(220, 230, 235);
}

#loginOption {
    background: darkcyan;
    color: rgb(220, 230, 235);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#accountOption {
    background: darkcyan;
    color: rgb(220, 230, 235);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="submit"] {
    background: darkcyan;
    color: rgb(220, 230, 235);
    cursor: pointer;
    padding: 5px 10px;
    border: none;
}


/* Основной контент */
.profile {
    background: url('../img/background_1.webp');
    background-repeat: repeat;
    color: rgb(220, 230, 235);
    cursor: auto;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.content {
    max-width: 64.5vw;
    margin: 0 auto;
    background-color: rgb(22, 27, 29);
    position: relative;
    height: 91.5vh;
    box-shadow: 0 0 100px black;
    top: 8.5vh;
}

.header-left {
    column-gap: 24px;
    position: relative;
    text-align: center;
}

.header-info {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    top: 30px;
}

.nick {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-nick__button {
    position: relative;
    top: 0vw;
    outline: none;
    background-color: rgb(22, 27, 29);
    color: rgb(220, 230, 235);
    border: none;
}

.change-nick__button:hover {
    color: darkcyan;
}

.username-row {
    align-items: flex-end;
    column-gap: 12px;
    margin-top: 16px;
    font-weight: 900;
    font-size: 50px;
}

.about-user {
    background: 0 0;
    border: none;
    color: rgb(116, 124, 129);
    cursor: pointer;
    font-family: inherit;
    font-size: 25px;
    line-height: 28px;
    padding: 0;
    position: relative;
    bottom: 30px;

}

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-overlay {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 100px;
}

.avatar-container:hover .avatar-overlay {
    opacity: 1;
}

.edit-text {
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.user-avatar {
    border: 1px solid rgb(47, 52, 55);
    border-radius: 100px;
    display: block;
    position: relative;
    height: 181px;
    width: 181px;
    margin: 0 auto;
    top: 3vh;
}

.profile-content {
    position: relative;
    margin: 15vh auto;
    display: flex;
    justify-content: space-around;
}

.top-header {
    background: rgb(18, 23, 25);
    border: 2px solid rgb(18, 23, 25);
    box-shadow: 0 0 20px 1px black;
    border-radius: 16px;
    display: block;
    overflow: hidden;
}

.my-top__header {
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 1vh;
}

.my-top__row {
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(220, 230, 235);
    display: flex;
    justify-content: center;
    transition: transform 0.1s;
}

.my-top__row:hover {
    transform: scale(1.05);
    color: darkcyan;
}

.stats-container__header {
    background: rgb(18, 23, 25);
    border: 2px solid rgb(18, 23, 25);
    box-shadow: 0 0 20px 1px black;
    border-radius: 16px;
}

.stats-container__header__description {
    font-size: 3vw;
    font-weight: 900;
    margin-bottom: 1vh;
}

.stats-container__grid {
    column-gap: 16px;
    display: grid;
    grid-template-columns: 0.5vh auto;
    grid-template-rows: repeat(4, 4vh);
    row-gap: 0.9vh;
    font-size: 1.5vw;
    justify-content: center;
}

.fa-solid {
    font-size: 45px;
}

.fa-regular {
    font-size: 45px;
}