{% extends 'Site/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'Site/css/aboutsite.css' %}">
</head>
<body>
    <div class="main-content">
        <div class="content">
            <h1 class="namepage">О сайте</h1>
            <p class="About-site">Наши увлекательные онлайн-игры готовы погрузить вас в мир развлечений и приключений.
                Наши игры разнообразны по жанрам и доступны для игры прямо на сайте. Просто выберите игру и начните играть.
                Проведите время с удовольствием в нашем виртуальном мире развлечений!
            </p>
            <ul class="team">Команда разработчиков</ul>
                <li class="Arsen">Ли Арсений -  👨🏿li.ak@dvfu.ru</li>
                <li class="Bogdan">Грузков Богдан - 🐵gruzkov.ba@dvfu.ru</li>
                <li class="Semyon">Земсков Семён - 🐶zemskov.sm@dvfu.ru</li>
        </div>
    </div>
</body>
{% endblock %}