{% extends 'Site/base.html' %}
{% load static %}
{% block content %}
<main class="_main">
    <div class="_main_wrapper" role="main">
        <div class="_main_container">
            <div class="_main_catalog">
                <div class="_catalog_container">
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt="" ></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt=""></a>
                    </button>
                </div>
            </div>
            <div class="_main_catalog">
                <div class="_catalog_container">
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt="" ></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt=""></a>
                    </button>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}