{% extends 'Site/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'Site/css/profile.css' %}">
    <script src="https://kit.fontawesome.com/db54da5ac0.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="profile">
    <div class="content">
        <div class="header-left">
            <img class="user-avatar" src="{{ user.profile.image.url }}" width="181" height="181" alt="">
            <div class="header-info">
                <div class="nick">
                    <div>
                        <h1 class="username-row">{{ user.username }}</h1>
                    </div>

                    <div class="change-nick">
                        <button class="change-nick__button" id="changeNickButton">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24"
                                 stroke-width="2.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/>
                            </svg>
                        </button>
                    </div>

                    <div class="overlay" id="overlay">
                        <div class="changeusername" id="change-username">
                            <h2>Изменить имя пользователя</h2>
                            <input type="text" id="newUsername" placeholder="Новое имя пользователя">
                            <button id="saveUsername">Сохранить</button>
                            <button id="closechange">Закрыть</button>
                        </div>
                    </div>

                </div>
                <div class="info-row">
                    <button class="about-user">Обо мне</button>
                </div>
            </div>
        </div>

        <div class="stats-grid">
            <section class="profile-content">
                <div class="top-header">
                    <h2 class="my-top__header">Библиотека</h2>
                    <a href="" class="my-top__row">0 игр добавлено</a>
                </div>
                <div class="stats-container__header">
                    <h2 class="stats-container__header__description">Статистика</i>
                    </h2>
                    <div class="stats-container__grid">
                        <span class="stats-container__number">0</span>
                        <span class="stats-container__row">дней на сайте</span>
                        <span class="stats-container__number">0</span>
                        <span class="stats-container__row">комментариев</span>
                        <span class="stats-container__number">0</span>
                        <span class="stats-container__row">оценок</span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
{% endblock %}