{% extends "Site/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="content1">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вход</legend>
                {{ form|crispy }}
                <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Войти</button>
            </div>
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="{% url 'register' %}">Регистрация</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}