.main-content{
    background: url('../img/background_1.webp');
    background-repeat: repeat;
    color: rgb(220, 230, 235);
    cursor: auto;
    height: 100vh;
    background-size: cover;
}

.content{
    max-width: 64.5vw;
    margin: 0 auto;
    background-color: rgb(22, 27, 29);
    position: relative;
    height: 91.5vh;
    box-shadow: 0 0 100px black;
    top: 8.5vh;
}

.namepage{
    font-size: 60px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 30px;
    margin: 0;
}

.About-site{
    padding-top: 30px;
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

.team{
    font-size: 50px;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 50px;
}

.Arsen{
    font-size: 30px;
    padding-left: 40px;
    list-style-type: square;
    padding-top: 30px;
}

.Bogdan{
    font-size: 30px;
    padding-left: 40px;
    list-style-type: square;
}

.Semyon{
    font-size: 30px;
    padding-left: 40px;
    list-style-type: square;
}
