.main-content1 {
    background: url('../img/background_1.webp');
    background-size: cover;
    background-repeat: repeat;
    position: relative;
    top: 8.5vh;
    color: rgb(220, 230, 235);
    height: 91.5vh;
    font-size: 1.7vw;
    overflow: auto;
}

.main-content2 {
    max-width: 64.5vw;
    margin: 0 auto;
    background-color: rgb(22, 27, 29);
    position: relative;
    height: 91.5vh;
    box-shadow: 0 0 100px black;
}

.exit{
    margin: 0;
}

.text-muted{
    text-decoration: none;
}

.come-in{
    text-decoration: none;
    background: darkcyan;
    color: rgb(220, 230, 235);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}