{% extends 'Site/base.html' %}
{% load static %}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,500;0,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Site/css/style.css' %}">
    <script src="{% static 'Site/js/js-dos.js' %}"></script>
    <link href="{% static 'Site/js/js-dos.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}
{% endblock %}
</body>