{% extends 'Site/base.html' %}
{% load static %}
{% block content %}
<main class="_main">
    <div class="_main_wrapper" role="main">
        <div class="_main_container">
            <div class="_main_catalog">
                <div class="_catalog_container">
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'doom' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/playstation-ps1-doom.webp' %}" alt="" ></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'duke' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/duke.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'wolf' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/wolf.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'mk' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/mk3.webp' %}" alt=""></a>
                    </button>
                </div>
            </div>
            <div class="_main_catalog">
                <div class="_catalog_container">
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'doom2' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/doom2.webp' %}" alt="" ></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'mario' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/mariogg.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'shadow-warrior' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/Shadow-Warrior.webp' %}" alt=""></a>
                    </button>
                    <button class="_main_items">
                        <a class="_wallpaper" href = "{% url 'heroes' %}"><img class="_wallpaper_resolution" src="{% static 'Site/img/heroes.webp' %}" alt=""></a>
                    </button>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}