{% extends 'Site/base.html' %}
{% load static %}
{% block content %}
    <body>
    <div class="_main1">
        <div class="content">
            <h1 class="comments-title">Комментарии</h1>

            <h2 class="add-comment">Оставить комментарий</h2>
            <form method="post" action="{% url 'comment_page' %}" class="comment-form">
                {% csrf_token %}
                {{ form.comment_text }}
                <button class="add-comment__button" type="submit">Отправить</button>
            </form>
            <div class="comments-container">
                {% for comment in comments %}
                    <p class="comment">
                        <strong style="color: {{ comment.user.profile.nickname_color }};">{{ comment.user.username }}:</strong>
                        {{ comment.comment_text }}
                    </p>
                {% endfor %}
            </div>
            <div class="pagination">
                    <span class="step-links">
                        {% if comments.has_previous %}
                            <a href="?page=1" class="first-page">&laquo; В начало</a>
                            <a href="?page={{ comments.previous_page_number }}" class="previous-page">&lArr;</a>
                        {% endif %}

                        <span class="current">
                            &nbsp&nbsp&nbsp&nbsp&nbspСтраница {{ comments.number }} из {{ comments.paginator.num_pages }}
                        </span>

                        {% if comments.has_next %}
                            <a href="?page={{ comments.next_page_number }}" class="next-page">&rArr;</a>
                            <a href="?page={{ comments.paginator.num_pages }}" class="last-page">Последняя &raquo;</a>
                        {% endif %}
                    </span>
            </div>
        </div>
    </div>

    </body>
{% endblock %}