{% extends 'Site/base.html' %}
{% load static %}
{% block content %}
    <head>
        <script src="{% static 'Site/js/script.js' %}"></script>
    </head>
    <body>
    <div class="_main2">
        <div class="content">
            <h1 class="comments-title">Комментарии</h1>

            <div class="comments-wrapper">
                <div class="comments-container">
                    {% for comment in comments reversed %}
                        <p class="comment">
                            <strong style="color: {{ comment.user.profile.nickname_color }};">{{ comment.user.username }}:</strong>
                            {{ comment.comment_text }}
                        </p>
                    {% endfor %}
                </div>
            </div>

            <form method="post" action="{% url 'comment_page' %}" class="comment-form" id="commentForm">
                {% csrf_token %}
                <div class="form-comment">
                    {{ form.comment_text }}
                    <button class="add-comment__button" type="submit">&#10148;</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("commentForm").addEventListener("keydown", function (e) {
            if (e.key === "Enter" && !e.shiftKey) {
                e.preventDefault();
                document.getElementById("commentForm").submit();
            }
        });
    </script>
    </body>
{% endblock %}