{% extends 'Site/basegames.html' %}
{% load static %}
{% block content %}
    <head>
        <script src="{% static 'Site/js/js-dos.js' %}"></script>
        <link href="{% static 'Site/js/js-dos.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Site/css/games.css' %}">
    </head>
    <body>
    <main class="_main1">
        <div class="_main_wrapper" role="main1">
            <div class="_game_window">
                <section class="_header1">
                    <h1 class="game-name">Doom II</h1>
                    <div class="top-content">
                        <img class="_wallpaper_resolution" src="{% static 'Site/img/doom2.webp' %}"
                             alt="">
                        <ul class="info-description">
                            <li class="date">Дата выхода: 30 сентября 1994 года</li>
                            <li class="creator">Разработчик: id Software</li>
                            <li class="platform">Платформа: MS-DOS</li>
                            <li class="genres">Жанр: Шутер от первого лица</li>
                        </ul>
                    </div>
                    <div class="full-description">
                        <h2 class="_description-title">Описание</h2>
                        <p class="_description">
                            Doom II - это шутер от первого лица, разработанный компанией id Software и выпущенный в 1994
                            году. Игрок управляет солдатом, который оказывается на Земле, захваченной демоническими
                            силами, и должен уничтожить всех врагов, чтобы спасти планету.
                        </p>
                    </div>
                </section>
            </div>
            <div id="jsdos">
                <script>
                    emulators.pathPrefix = "{% static 'Site/js/' %}";
                    Dos(document.getElementById("jsdos"))
                        .run("{% static 'Site/games/doom2.jsdos' %}");
                </script>
            </div>
        </div>
        </div>
    </main>
    </body>
{% endblock %}