{% extends 'Site/basegames.html' %}
{% load static %}
{% block content %}
    <head>
        <script src="{% static 'Site/js/js-dos.js' %}"></script>
        <link href="{% static 'Site/js/js-dos.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Site/css/games.css' %}">
    </head>
    <body>
    <main class="_main1">
        <div class="_main_wrapper" role="main1">
            <div class="_game_window">
                <section class="_header1">
                    <h1 class="game-name"> Heroes of Might and Magic</h1>
                    <div class="top-content">
                        <img class="_wallpaper_resolution" src="{% static 'Site/img/heroes.webp' %}"
                             alt="">
                        <ul class="info-description">
                            <li class="date">Дата выхода: 31 августа 1995</li>
                            <li class="creator">Разработчик: New World Computing
                            </li>
                            <li class="platform">Платформа: MS-DOS</li>
                            <li class="genres">Жанр: Пошаговая стратегия</li>
                        </ul>
                    </div>
                    <div class="full-description">
                        <h2 class="_description-title">Описание</h2>
                        <p class="_description">
                            Основоположная игра культовой серии Heroes of Might and Magic, совершившая в свое время
                            революцию как в графическом оформлении, так и в самом геймплее.
                        </p>
                    </div>
                </section>
            </div>
            <div id="jsdos">
                <script>
                    emulators.pathPrefix = "{% static 'Site/js/' %}";
                    Dos(document.getElementById("jsdos"))
                        .run("{% static 'Site/games/heroes.jsdos' %}");
                </script>
            </div>
        </div>
        </div>
    </main>
    </body>
{% endblock %}