{% extends 'Site/basegames.html' %}
{% load static %}
{% block content %}
    <head>
        <script src="{% static 'Site/js/js-dos.js' %}"></script>
        <link href="{% static 'Site/js/js-dos.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Site/css/games.css' %}">
    </head>
    <body>
    <main class="_main1">
        <div class="_main_wrapper" role="main1">
            <div class="_game_window">
                <section class="_header1">
                    <h1 class="game-name"> Mario's Game Gallery</h1>
                    <div class="top-content">
                        <img class="_wallpaper_resolution" src="{% static 'Site/img/mariogg.webp' %}"
                             alt="">
                        <ul class="info-description">
                            <li class="date">Дата выхода: 23 февраля 1995</li>
                            <li class="creator">Разработчик: Brainstorm Entertainment
                            </li>
                            <li class="platform">Платформа: MS-DOS</li>
                            <li class="genres">Жанр: Сборник игр</li>
                        </ul>
                    </div>
                    <div class="full-description">
                        <h2 class="_description-title">Описание</h2>
                        <p class="_description">
                            Герой серии самых известных платформеров и сердца самой неуловимой принцессы, Марио в этот
                            раз предлагает нам развлечение иного рода - настольные игры. Итак, это Mario's Game Gallery,
                            собрание пяти популярных настольных игр: Checkers (шашки), Dominoes (домино), Backgammon
                            (короткие нарды), Yahtzee (покер на костях) и непереводимая Go Fish.
                        </p>
                    </div>
                </section>
            </div>
            <div id="jsdos">
                <script>
                    emulators.pathPrefix = "{% static 'Site/js/' %}";
                    Dos(document.getElementById("jsdos"))
                        .run("{% static 'Site/games/MarioGG.jsdos' %}");
                </script>
            </div>
        </div>
        </div>
    </main>
    </body>
{% endblock %}