{% extends 'Site/basegames.html' %}
{% load static %}
{% block content %}
<head>
    <script src="{% static 'Site/js/js-dos.js' %}"></script>
    <link href="{% static 'Site/js/js-dos.css' %}" rel="stylesheet">
    <style>
        .dosbox-container > .dosbox-overlay { background: url("{% static 'Site/img/mariogg.webp' %}"); background-size: 560px 400px ;}
    </style>
</head>
<body>
<main class="_main">
    <div class="_main_wrapper" role="main">
        <div class="_game_window">
            <div id="jsdos">
                <script>
                    emulators.pathPrefix = "{% static 'Site/js/' %}";
                    Dos(document.getElementById("jsdos"))
                        .run("{% static 'Site/games/MarioGG.jsdos' %}");
                </script>
            </div>
        </div>
    </div>
</main>
</body>
{% endblock %}