{% extends 'Site/basegames.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        .dosbox-container > .dosbox-overlay { background: url("{% static 'Site/img/mk3.webp' %}"); background-size: 560px 400px ;}
    </style>
</head>
<body>
    <main class="_main">
        <div class="_main_wrapper" role="main">
            <div class="_game_window">
                <div id="dosbox"></div>
                <br/>
                <button onclick="dosbox.requestFullScreen();">Make fullscreen</button>

                <script type="text/javascript" src="https://js-dos.com/cdn/js-dos-api.js"></script>
                <script type="text/javascript">
                    var dosbox = new Dosbox({
                        id: "dosbox",
                        onload: function (dosbox) {
                            dosbox.run("{% static 'Site/games/mk.zip' %}", "./MK3.EXE");
                        },
                        onrun: function (dosbox, app) {
                            console.log("App '" + app + "' is runned");
                        }
                    });
                </script>
            </div>
        </div>
    </main>
</body>
{% endblock %}