{% extends 'Site/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'Site/css/profile.css' %}">
        <script src="https://kit.fontawesome.com/db54da5ac0.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <div class="profile">
        <div class="content">
            <div class="header-left">
                <img class="user-avatar" src="{{ user.profile.image.url }}" width="181" height="181" alt="">
                <div class="header-info">
                    <div class="nick">
                        <div>
                            <h1 class="username-row">{{ user.username }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stats-grid">
                <section class="profile-content">
                    <div class="stats-container__header">
                        <h2 class="stats-container__header__description">Обо мне
                        </h2>
                        <div class="stats-container__column">
                            <span class="stats-container">Имя пользователя: {{ user.username }} </span>
                            <span class="stats-container">Почта: {{ user.email }} </span>
                            <span class="stats-container">Дата регистрации: {{ user.date_joined }} </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </body>
{% endblock %}