{% extends 'Site/basegames.html' %}
{% load static %}
{% block content %}
    <head>
        <script src="{% static 'Site/js/js-dos.js' %}"></script>
        <link href="{% static 'Site/js/js-dos.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'Site/css/games.css' %}">
    </head>
    <body>
    <main class="_main1">
        <div class="_main_wrapper" role="main1">
            <div class="_game_window">
                <section class="_header1">
                    <h1 class="game-name">Shadow Warrior</h1>
                    <div class="top-content">
                        <img class="_wallpaper_resolution" src="{% static 'Site/img/Shadow-Warrior.webp' %}"
                             alt="">
                        <ul class="info-description">
                            <li class="date">Дата выхода: 13 мая 1997</li>
                            <li class="creator">Разработчик: 3D Realms</li>
                            <li class="platform">Платформа: MS-DOS</li>
                            <li class="genres">Жанр: Шутер от первого лица</li>
                        </ul>
                    </div>
                    <div class="full-description">
                        <h2 class="_description-title">Описание</h2>
                        <p class="_description">
                            Наденьте свои боевые сандалии... Ло Ванг приезжает в Страну восходящего солнца, чтобы
                            погасить свет. Испытайте полное погружение в кровь. Если вы не можете потрогать, убить или
                            управлять чем-то... тогда взорвите это! Будь то сюрикены, Узи или только что отнятая голова
                            Хранителя... вам придется потрудиться.
                        </p>
                    </div>
                </section>
            </div>
            <div id="jsdos">
                <script>
                    emulators.pathPrefix = "{% static 'Site/js/' %}";
                    Dos(document.getElementById("jsdos"))
                        .run("{% static 'Site/games/shadow-warrior.jsdos' %}");
                </script>
            </div>
        </div>
        </div>
    </main>
    </body>
{% endblock %}